# Dependencies
node_modules

# Build output
# dist (keep dist folder for GitHub Pages demos)
wopr-decryptor-*

# Environment files
.env
.env.local

# IDE
.vscode/*
!.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output

# Temporary files
*.tmp
.cache
PUBLISHING.md
